<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
    	<PatternLayout pattern="%-5p %d [%t] %C{2} %M (%F:%L) - %m%xEx%n"/>
    </Console>
  </Appenders>

  <Loggers>
  	<logger name="irt.gui_callibration.controller.Controller" level="debug" />
  	<logger name="irt.gui_callibration.panels.ConverterPanel" level="WARN" />
 
  	<logger name="irt.measurement.data.Table" level="WARN" />
 
  	<logger name="irt.power_meter.PowerMeterWorker" level="all" />

  	<logger name="irt.prologix.communication.PrologixWorker" level="WARN" />
  	<logger name="irt.prologix.communication.Tools" level="WARN" />
 
  	<logger name="irt.serial_protocol.ComPort" level="all" />
 	<logger name="irt.serial_protocol.data.value.ValueDouble" level="WARN" />
 	<logger name="irt.serial_protocol.data.value.ValueFrequency" level="WARN" />

  	<logger name="irt.converter.groups.DeviceDebugGroup" level="WARN" />
  	<logger name="irt.converter.groups.ConfigurationGroup" level="all" />
 	<logger name="irt.converter.groups.DeviceInformationGroup" level="WARN" />

  	<logger name="irt.buc.groups.DeviceDebugGroup" level="WARN" />
  	<logger name="irt.buc.groups.DeviceInformationGroup" level="WARN" />
  	<logger name="irt.buc.groups.ConfigurationGroup" level="WARN" />

  	<logger name="irt.signal_generator.SignalGeneratorWorker" level="WARN" />

    <Root level="INFO">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>
